<!doctype html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 {% if page.title == "home" %}
 <title>Exeter MCR</title>
 {% else %}
 <title>{{ page.title }} - Exeter MCR</title>
 {% endif %}
 <link rel="icon" href="exeter-crest-small.gif" type="image/x-icon" />
 <link rel="stylesheet" href="style.css" type="text/css" />
 <link rel="stylesheet" href="print.css" media="print">
 <link href='http://fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
 rel='stylesheet' type='text/css'>
 <script type="text/javascript" src="/assets/jquery-1.8.3.min.js"></script>
 <script type="text/javascript" src="/assets/toggle-menu.js"></script>
 <script type="text/javascript" src="/assets/jquery.ba-throttle-debounce.min.js"></script>
 <script type="text/javascript" src="/assets/analytics.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<header>
  <div class="header">
   <h1>
   <a href="/"><img height="30px" src="exeter-crest-small.gif" alt=""></a>
   <a href="/">exeter college mcr</a></h1>
   <img class="banner" src="/images/header.jpg" width="100%">
  </div>
</header>
{% include nav.html %}

<div id="body">
<div id="page-header">
  <h2>{{ page.title | downcase }}</h2>
</div>
{% if page.alert != null %}
<div class="alert alert-{{ page.alert-type }}">
<p>{{ page.alert }}</p>
</div>
{% endif %}

<div id="content">
  {{ content }}
 </div>
</div></div>
<footer>
<div class="footer">
  <ul><li><a href="/contact">Contact us</a></li>
    <li><a href="/cookies">Cookies</a></li>
  </ul>
</div>
</footer>
</div></div>
</body></html>
